{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-filter-list">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Time
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


        <div id="services" class="">

          <form class="form" action="/selected" method="get" >


           <p class="phone-bodytext"><strong>You have selected these {{ selectedservices.length }} services</strong></p>

          
            
            <ul class="list phone-list">
              <input type="hidden" name="servicescount" value="{{ selectedservices.length }}">
            {% for item in selectedservices %}
              <li class="multiple-choice">
                <input id="services{{ loop.index }}" type="checkbox" checked name="services{{ loop.index }}" value="{{ item }}">

                <label for="services{{ loop.index }}" class="name">{{ item }}</label>
              </li>
            {% else %}
              <li class="multiple-choice">No services were selected</li>
            {% endfor %}
            </ul>
            
         

          <!-- checkbox code 
            <li class="multiple-choice">
              <input id="services-s1" type="checkbox" name="services" value="Acute Assessment unit">

              <label for="services-s1" class="name">Acute Assessment unit</label>
            -->

         

        </div>


        <div>
          <input class="phonebutton phone-next" type="submit" value="Next">
          
          <!--<a href="phone-finder-time"><button class="phonebutton phone-next">Next</button></a>-->
        </div>

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-filter-list" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>




{% endblock %}


