{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-results">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Location
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


        <div id="services" class="">
          <form class="form" action="/searchagain" method="get" >


          <p class="phone-bodytext">Where should the patient be seen?</p>

          <p class="phone-bodytext"><a href="locate" id="locate">Use my current location</a></p>

          <div class="phoneinputbox" style="margin-bottom: 2em">
            <h2 class="phone-bodytext">or enter a postcode:</h2>
            <input class="postcode" value="{{ data['location'] }}" name="location" placeholder="eg. OX27 7QR or EC1" />
          
            <p class="phone-bodytext" id="reported-place" style="margin: 1em 0 -0.5em 0">Location: Fritwell, Oxfordshire</p>
            
          </div>

          <p class="phone-bodytext">How far to search?</p>
          

          <ul class="list phone-list" style="padding-left: 6px">
            <li class="multiple-choice">
              <input id="dist2" type="radio" name="distance" value="2">

              <label for="dist2" class="name">2 miles</label>
            </li>
            <li class="multiple-choice">
              <input id="dist5" type="radio" name="distance" value="5">

              <label for="dist5" class="name">5 miles</label>
            </li>
            <li class="multiple-choice">
              <input id="dist10" type="radio" name="distance" value="10">

              <label for="dist10" class="name">10 miles</label>
            </li>
            <li class="multiple-choice">
              <input id="dist20" type="radio" name="distance" value="20">

              <label for="dist20" class="name">20 miles</label>
            </li>
            <li class="multiple-choice">
              <input id="dist40" type="radio" name="distance" value="40">

              <label for="dist40" class="name">40 miles</label>
            </li>
            <!--<li class="multiple-choice">
              <input id="dist-s6" type="radio" name="distance" value="60">

              <label for="dist-s6" class="name">60 miles</label>
            </li>-->
            
          </ul>

        </div>


        <div>
          <input type="hidden" name="selectedservices" value="{{ data['selectedservices'] }}">

            <input class="phonebutton phone-next" type="submit" value="Search again">
            <!-- <a href="phone-finder-results"><button class="phonebutton phone-next">Search again</button></a>-->
        </div>

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-results" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>




{% endblock %}


