{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-filter-selected">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Time
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


        <div id="services" class="">

          


         

          <div class="form-group">

            <form class="form" action="/time" method="get" >

            <fieldset>

              <legend>
                 <p class="phone-bodytext"><strong>How quickly is a service required?</strong></p>
              </legend>

               <ul class="list phone-list" style="">
                  <li style="margin-bottom: 2em">

                    <div class="multiple-choice">
                      <input id="it-is-urgent" type="radio" name="radio-urgent-group" value="Yes" >
                      <label for="it-is-urgent" style="padding-left: 5px">It is urgent (1 or 2 hours)</label>
                    </div>
                  </li>

                  <li>

                    <div class="multiple-choice">
                      <input id="it-is-not-urgent" type="radio" name="radio-urgent-group" value="No">
                      <label for="it-is-not-urgent" style="padding-left: 5px">It is not urgent</label>
                    </div>
                    
                  </li>
                </ul>

             

            </fieldset>
          </div>





          

          
            

        </div>


        <div>
            <input class="phonebutton phone-next" type="submit" value="Next">

            <!--<a href="phone-finder-location"><button class="phonebutton phone-next">Next</button></a>-->
        </div>

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-filter-selected" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>




{% endblock %}


